*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
  list-style: none;  
}

/*main block*/
.header_block{
    background: url(../img/main_back.png) center;
    background-size: cover;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
}

.up_logo_shop{
    padding: 40px;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.icons{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    padding-right: 40px;
}
.icons img{
    justify-content: flex-end;
    margin: 15px 30px;
}

.desteni2_logo{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.desteni2_logo .log{
    margin-right: 10%;
    width: 310px;
    height: 168px;
}

.desteni2_logo img:last-child{
    margin-right: 70px;
    width: 12px;
    height: 73px;
}
.button_under_logo{
    display: flex;
    margin-left: 90px;
    margin-top:20px;
    align-items: center;
    width: 140px;
    transition: .5s;
    height: 50px;
    position: relative;

}
.button_under_logo:hover{
  background-color: silver;

}

.button_under_logo .button{
    width: 135px;
    height: 45px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border: 3px solid white;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0); 
}
.button_under_logo .button .span{
    font-size: 25px;
    padding: 5px 0;
    margin-left: 10px;
    border-width: 100%;
    border-left: 3px solid white;
}

.item{
    margin:0 10% 0 0;
}



.games_shop{
    background-color: #0b0c11;
    padding: 32px 70px 20px 70px;
    color: #525353;
}
.games_shop h2{
    color: white;
}

.games_shop ul li{
    display: inline;
}

.games_shop ul li{
    display: inline;
    margin-left:10px;
}
.games_shop ul li:first-child{
    color: white;
    font-size: 18px;
    margin-right:10px;
}
.games_shop ul li img{
    margin-right: 5px;
}


.all_game{
    width: 100%;
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: space-around;
}

.game{
    color: white;
    width: 230px;
    height: 360px;
    transition: .5s;
    overflow: hidden;
}

.game:hover{
    margin-top: -15px;
}

.game_back1{
    background: url(../img/Base1.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 360px;

    align-items: flex-end;
    justify-content: flex-start;
}
.game_back2{
    background: url(../img/Base.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 360px;

    align-items: flex-end;
    justify-content: flex-start;
}
.game_back3{
    background: url(../img/NFS.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 360px;

    align-items: flex-end;
    justify-content: flex-start;
}
.game_back4{
    background: url(../img/Credo.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 360px;

    align-items: flex-end;
    justify-content: flex-start;
}
.game h3{
    width: 130px;
    padding-left: 10px;
}
.parametrs{
    
    margin-top:210px;
    display: flex;
    flex-direction: column;
}

.mark{
    width:42px;
    height: 42px;
    display: flex;
    border: 3px solid silver;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.name_mark{
    display: grid;
    grid-template-columns: 70% 20%;
}
.creaeter{
    padding-top: 10px;
    color: #7c7c7c;
    padding: 10px;
    font-size: 15px;
}
.creaeter span{
    font-size: 10px;
}
.price{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 15px 10px 5px 10px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}
.price img{
    margin-top:5px;
}

.head_line{
    background-color: #0b0c11;
}
/*line with rainbow colors*/
.line {
    width: 90%;
    height: 3px;
    background: gold;
    box-shadow: 0 -200px 100px -120px crimson inset;
    animation: background 7s infinite alternate;
    border-radius: 40%; 
}
.head_line{
    overflow-x: hidden;
    position: absolute;
    margin-left: 5%;
    margin-top: -40px;
}

.images_block{
    display: flex;
    flex-direction: row;
}

.menu-choose{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.menu-choose button{
    width: 230px;
    cursor: pointer;
    margin: 6.5px 0;
    padding: 10px;
    height: 120px;
    overflow: hidden;
    border: none;
    background-color: rgba(100, 100, 100, .2);
}
.menu-choose button img{
    width: 100%;
    height: 100%;
}
.block_for_images{
    background-color: #0b0c11;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
.images_block{
    border: 2px solid silver;
}
.images{
    padding: 10px;
}
.categories{

    padding: 2% 0;
    background-color: #0b0c11;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: center;
}
.categories h2{
    color: white;
    padding: 2%0;
}
.cat{
    display: flex;
    flex-direction: column;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
main{

}
footer{
    background-color: #0b0c11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2%;
}

@keyframes background {
    10% {
        background: skyblue;
        box-shadow: 0 -200px 100px -100px red inset;
      }
    20% {
        background: skyblue;
        box-shadow: 0 -200px 100px -100px orange inset;
    }
    30%{
        background: skyblue;
        box-shadow: 0 -200px 100px -100px yellow inset;
    }
    40%{
        background: skyblue;
        box-shadow: 0 -200px 100px -100px green inset;
    }
    50% {
      background: skyblue;
      box-shadow: 0 -200px 100px -100px aqua inset;
    }
    60%{
        background: skyblue;
        box-shadow: 0 -200px 100px -100px blue inset;
    }
    70%{
        background: skyblue;
        box-shadow: 0 -200px 100px -100px purple inset;
    }

}
.hide{
    display: none;
}


  @media screen and (max-width: 1081px){
    .all_game{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        grid-row-gap: 10px;
    }
    .up_logo_shop{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 76%;
    }
    .icons{
        margin-left: -50px;
    }

  }
@media screen and (max-width: 600px){
    body{
        overflow: hidden;
    }
    .all_game{
        display: flex;
        flex-direction: column;

        padding-bottom: 100px;
        grid-row-gap: 10px;
    }
    .header_block{
        background: url(https://s2.best-wallpaper.net/wallpaper/iphone/1904/Destiny-2-rain-war_iphone_750x1334.jpg) center;

    }
    .desteni2_logo img:last-child{
        display: none;
    }
    .games_shop ul li{
        display: block;
        margin-left:10px;
    }

}
@media screen and (max-width: 400px){
    .logo{
        font-size: 16px;
    }
}