*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/*main block with back background image menu and logo=============================================*/
.main_header{
    background: url(../img/back_main.png) top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 660px;
}

/*block with logo and menu=============================================*/
.logo_menu{
    background-color: #1d2126;
    padding: 31px 0;
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;
}


/*menu*/
.menu ul li{
    display: inline;
    margin-left: 10px;
}

.menu a{
    font-size: 14px;
    /*color: #23b7a4;*/
    color: #a4aead;
    text-transform: uppercase;
    padding: 5px;
}

/*animtion hover and click for menu=============================================*/
.menu a:hover{
    border: 2px solid #a4aead;

}
.menu a:active{
    border-color: #23b7a4;
    color: #23b7a4;
}

.topnav .icon{
	display: none;
	font-size: 30px;
}
/*Title and paragraph in main block=============================================*/
.text_in_header_block{
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 660px;
    width: 100%;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
}
.text_in_header_block h2{
    text-transform: uppercase;
    padding-bottom: 25px;
    padding-left: 100px;
}
.text_in_header_block p{
    padding: 0 20px;
    padding-left: 100px;
}
/*buttons in header block=============================================*/
.buttons_header div{
    width: 120px;
    height: 40px;
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
    margin:11px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons_header{
    padding-left: 87px;
    display: flex;
    flex-direction: row;
}
.button2 div{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    transition: .7s;
}
.button1 div{
    transition: .7s;
}
.button1 div:hover{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);

}
.button2 div:hover{
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
}

/*second block in maket(about)=============================================*/
.About{
    display: flex;
    flex-wrap: wrap;
    padding: 85px 150px;
    border-bottom: 3px solid #dde1e4;
}
/*about left*/
.about_left{
    width: 50%;
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
}

.about_left p{
    color: #8d8f92;
    width: 400px;
    padding-bottom: 20px;
}

.about_left h2{
    border-left: 10px solid #e1e6ea;
    margin-bottom: 40px;
    padding-left: 6px;
    color: #292f36;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.about_left ul{
    display: flex;
    flex-direction: row;
}

.about_left ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8cdd0;
    margin-right: 1px;
    width: 60px;
    height: 60px;
}
.about_left ul li:hover{
opacity: .7;
}

/*list about*/
.about_00{
    padding: 40px 0;
    display: grid;
    grid-template-columns: auto auto;
}
.cub_about{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_about h3{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #292f36;
}
.text_about p{
    width: 300px;
    height: 43px;
    color: #8d8f92;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}
/*card with team*/
.team{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin-bottom: 30px;
    width: 263px;
    height: 350px;
    background-image: url(https://image.flaticon.com/icons/svg/848/848080.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid #23b7a4 ;
    cursor: pointer;
}
.text{
    transition: .6s;
    width: 263px;
    padding-bottom: 7px;
    padding-right: 60px;
    margin-left: 0px;
    padding-top: 36px;
    color: #292f36;;
    background-color: #e1e6ea;
}
.contacts{
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}
.contacts a{
    margin-top: -250px;
    margin-left: 3px;
    background-color: #3a454d;
    width: 50px;
    padding: 6px;
    height: 50px;
    transition: .4s;
}
.contacts img{
    margin-top: 15px;
    margin-left: 15px;
}

.card:hover .contacts{
    opacity: 1;
    padding: 350px 35px 0 35px;
    background-color: rgba(0, 0, 0, .6);
}

.card:hover .text{
    color: white;
    background-color: #3a454d;
}

.contacts a:hover{
    background-color: rosybrown;
}

.meet_team_h2{
    border-left: 10px solid #e1e6ea;
    padding-left: 6px;
    color: #292f36;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 150px;
    margin: 60px 0 60px 151px;
}
/*works===========================================================*/
.lovely_works{
    background-color:#3a454d;
    padding: 80px 100px 50px 100px;
}
.lovely_works h2{
    border-left: 10px solid #4e5a62;
    padding-left: 6px;
    color: #292f36;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 150px;
    margin: 0px 0 60px 60px;
    color: #ffffff;
}

.all_card_with_works{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.text_work_card{
position: absolute;
margin-top: -270px;
height: 267px;
width: 360px;
background-color: rgba(0, 0, 0, .6);
opacity: 0;
transition: .6s;
}

.text_work_card h6{
    padding: 5px 153px 8px 5px;
    background-color: #292f36;
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 88px;
}
.text_work_card img{
    margin-left: 165px;
    margin-top: 125px;
}

.work_card{
    margin-top: 10px;
    z-index: 0;
    width: 350px;
    height: 265px;
}
.work_card:hover .text_work_card{
   opacity: 1;
}
.button_lovely_works{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.but_lov_works{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 10px;
    height: 40px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    transition: .6s;
}
.but_lov_works:hover{
    border: 3px solid #23b7a4;
    background-color: #23b7a4;
}
/*section about work=======================================================*/
.what_we_do{
    width: 100%;
    padding: 70px 0;
}

.what_we_do h2{
    border-left: 10px solid #e1e6ea;
    padding-left: 20px;
    color: #292f36;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0px 0 60px 160px;
}

.work_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 254px;
    height: 216px;
    justify-content: center;
}

.work_block p{
    font-size: 16px;
    color: #8d8f92;
    padding-left: 15px;
}
.work_block h5{
    color: #292f36;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 17px;
    padding: 30px 0;
}
.all_block_in_work_section1{
    border-bottom: 2px solid snow;
    padding-bottom: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;


}
.all_block_in_work_section1:last-child{
    border: none;
}
/*Features=========================================*/
.features{
    background-color: #3a454d;
    padding-top: 80px;
    padding-bottom: 90px;
}

.features h2{
    border-left: 10px solid #4e5a62;
    padding-left: 6px;
    color: #292f36;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0px 0 60px 160px;
    color: #ffffff;
}

.all_features_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.feature_card{
    width: 361px;
    height: 432px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3    0px;
}

.feature_card h6{
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 30px 0 30px 0;
}
.feature_card p{
    color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}

/*map======================================================*/
.stay_in_touch{
    margin-top: 50px;
}

.stay_in_touch h2{
    border-left: 10px solid #e1e6ea;
    padding-left: 20px;
    color: #292f36;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0px 0 60px 160px;
}
.main_block_in_map{
    background:url(../img/map.png) top center;
    background-size: cover;
    width: 100%;
    height: 346px;
    background-repeat: no-repeat;
}
.form_and_text{
    height: 261px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text_1 h5{
    margin-top: 70px;
    margin-bottom: 20px;
    color: #292f36;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.text_1 p{
    color: #8d8f92;
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 400px
}

form{
    width: 555px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: -160px;
    background-color: white;
}
label{
    color: #8d8f92;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 6%;
    margin-top: 10px;
}
input{
    width: 240px;
    height: 44px;
    margin-top: 10px;
    width: 90%;
}
textarea{
    width: 90%;
    height: 159px;
    margin-top: 10px;
}

.button_form{
    width: 147px;
    height: 40px;
    border-radius: 5px;
    background-color: #23b7a4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    margin-top: 20px;
    margin-left: 40px;
}
.button_form:hover{
    background-color: rgba(0, 0, 0, .1);
    color: #23b7a4;
    border:1px solid black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    background-color: #3a454d;
    padding: 20px 0 10px 0  ;
    color: white;
}
footer img{
    margin-right: 5px;
}
footer a:hover{
    opacity: .6;
}

@media screen and (max-width: 1030px){
    .menu a{
	display: none;
	}
	.topnav .icon{
		display: block;
        margin-top: -18px;
	}
	.icon img{
		width: 40px;
	}
	.menu a:hover{
		border: none;
		opacity: .5;
	}
	.menu a:active{
		border: none
	}
	.logo img{
		width: 110px;
		margin-top: 16px;
    }
    
    /*mobile menu=============================================*/
	.topnav.responsive{
		position: relative;
		top : 50px;
		left: -150px;
	}
	header .topnav.responsive{
		height: 340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top : -32px;
		right: -150px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
    }
    
/*Title and paragraph in main block=============================================*/
    .text_in_header_block{
        align-items: flex-start;
    }
    .text_in_header_block h2{
        text-transform: uppercase;
        padding-bottom: 25px;
        padding-left: 20px;
    }
    .text_in_header_block p{
        padding: 0 20px;
        padding-left: 20px;
    }

    /*about*/
    .about_left{
        width: 100%;
        margin-left: -140px;
    }
    .about_left p{
        width: 100%;
    }

    .About{
        display: grid;
        grid-template-columns: 100%;
    }
    .about_00{
        margin-left:-130px;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 650px){
.text_in_header_block h2{
    font-size: 20px;
}

/*about*/
.About{
    width: -0px;
}
.about_left{
    width: 300px;
    margin-left: -140px;
}
.about_00{
    margin-left: -149px;
}
.buttons_header{
    margin-left: -50px;
}

.lovely_works{
    margin-left: -10px;
}
.lovely_works h2{
    margin-left: -70px;
}
.team{
    margin-left: -15px;
}
.meet_team_h2{
    margin-left: 10px;
}
.what_we_do h2{
    margin-left: 20px;
}

.features h2{
    margin-left: 20px;
}
form{
    width: 340px;
    margin-top: 40px;
}


.stay_in_touch h2{
   margin-left: 20px;
}
footer{
    margin-top:500px;
}
}